<!-- {form action:@list().remove('page'), method:'GET'} -->
<form class="navbar-search pull-right" action="@{OVFPackages.list()}" method="get" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
    #{/if}
    <input type="text" class="search-query" placeholder="Search" name="search" value="${params.search?.escape()?.raw()}" />

    <!-- <input class="btn" type="submit" value="&{'crud.search'}" /> 
    #{if _caller.params.search}
        (<a href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>)
    #{/if}
    -->
</form>
