#{extends 'OVFPackages/layout.html' /}
<div id="container crudList">

	<div id="crudListTable">
		#{if play.configuration.getProperty("show.gravatar")==true}
			#{crud.table fields:['name', 'diskFileFormat', 'categoryName', 'iconPath', 'userMail']}
				#{crud.custom 'iconPath'}
			   		<img src="${object.iconPath}" height="50"	width="50"	alt="Angry face" />
				#{/crud.custom}
			   	#{crud.custom 'userMail'}
			   			<img src="${object.gravatarCreator()}" height="50"	width="50"	alt="Angry face" />
				#{/crud.custom}		   
			#{/crud.table}   
		#{/if}
		#{else}
			#{crud.table fields:['name', 'diskFileFormat', 'categoryName', 'iconPath']}
				#{crud.custom 'iconPath'}
			   		<img src="${object.iconPath}" height="50"	width="50"	alt="Angry face" />
				#{/crud.custom}
			#{/crud.table}   
		#{/else}
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>

	<div id="crudListSearch">
		#{crud.search /}
	</div>	
</div>
