#{extends 'OVFPackages/layout.html' /}
<div id="crudListAdd">

#{if session.get("user")}            
	<a href="@{OVFPackages.blank()}">Upload</a>
	#{if session.get("user") != "notauthenticatedId"}            
		<a href="@{Secure.logout()}">Logout</a>
	#{/if}
#{/if}
#{else}
	<a href="@{AddOVFPackages.login()}">Login</a>
#{/else}


</div>
  
  
            
</br>
<div id="crudList" class="${type.name}">
	<h2 id="crudListTitle">List</h2>

	<div id="crudListTable">
		#{crud.table fields:['name', 'diskFileFormat', 'categoryName', 'iconPath', 'userMail']}
		   #{crud.custom 'iconPath'}
		   		<img src="${object.iconPath}" height="50"	width="50"	alt="Angry face" />
		   #{/crud.custom}
		   #{crud.custom 'userMail'}
		   		<img src="${object.gravatarCreator()}" height="50"	width="50"	alt="Angry face" />
		   #{/crud.custom}
		#{/crud.table}   
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>

	<div id="crudListSearch">
		#{crud.search /}
	</div>	
</div>
