#{extends 'OVFPackages/layout.html' /}

<div class="container span9">
	<div>
		#{form action:@save(object._key()), enctype:'multipart/form-data'}
			#{ovfform object:object /}
				<input class="btn" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
				<input class="btn" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />	
		#{/form}
		
		#{form @delete(object._key())}
				<input class="btn btn-danger" type="submit" value="&{'crud.delete', "template"}" />
		#{/form}
	</div>
</div>