<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">
        <span class="logo"><img height="25" width="25" src="@{'/public/images/background-header.png'}"></span>
          <span class="name">Template Repository</span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="@{OVFPackages.list()}">List</a></li>
          <li><a href="@{OVFPackages.blank()}">New</a></li>                            
          <li>
              #{crud.search /}
          </li>
        </ul>
      <div class="navbar-text pull-right">
          #{if session.get("user") != "notauthenticatedId"}                  
            <img src="${session.get("gravatar")}" height="30" width="30">
          #{/if}        
          #{if session.get("user")}
            <a href="@{Secure.logout()}">logout</a>
          #{/if}        
          #{else}
            <a href="@{OVFPackages.login()}">login</a>
          #{/else}
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>