<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>
        <title>Template Repository</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="@{'/public/images/favicon.ico'}"     rel="shortcut icon" type="image/png">
 
    	<link href="@{'/public/stylesheets/bootstrap-responsive.css'}" 	rel="stylesheet" 	type="text/css" media="screen" />
        <link href="@{'/public/stylesheets/bootstrap.css'}"             rel="stylesheet"    type="text/css" media="screen" />
        <link href="@{'/public/stylesheets/progress.css'}"              rel="stylesheet"    type="text/css" media="screen" />
        <link href="@{'/public/stylesheets/typeahead.js-bootstrap.css'}" rel="stylesheet"    type="text/css" media="screen" />

        <script src="@{'/public/javascripts/bootstrap.js'}"             type="text/javascript" charset="utf-8"></script>        
        <script src="@{'/public/javascripts/jquery.js'}"                type="text/javascript" charset="utf-8"></script>        
        <script src="@{'/public/javascripts/upload.js'}"                type="text/javascript" charset="utf-8"></script> 
        <script src="@{'/public/javascripts/bootstrap-typeahead.js'}"   type="text/javascript" charset="utf-8"></script> 

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        #{navigation /}        
        #{doLayout /}		
    </body>
</html>
